{% extends "base/base.html" %}

{% block content %}

<h2>Edit Profile</h2>

<form method="POST" enctype="multipart/form-data">
    {% csrf_token %}

    <input type="text" name="phone" value="{{ profile.phone }}" placeholder="Phone"><br><br>
    <input type="text" name="country" value="{{ profile.country }}" placeholder="Country"><br><br>
    <input type="text" name="state" value="{{ profile.state }}" placeholder="State"><br><br>

    <input type="file" name="profile_image"><br><br>

    <button type="submit">Update</button>
</form>

{% endblock %}